@model Identity.Models.LoginViewModel
@using Identity.Models

@{
    ViewBag.Title = "Đăng nhập quản trị";
    Layout = null;
}
<!DOCTYPE html>
<html moznomarginboxes mozdisallowselectionprint>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Admin/Login/css/main.css">
    <!--===============================================================================================-->

    <style>
        .text-danger {
            color: red
        }
    </style>
</head>
<body>
    <div class="limiter">
        <div class="container-login100" style="background-image: url('../../Content/Admin/Login/images/bg-01.jpg');">
            <div class="wrap-login100 p-t-30 p-b-50">
                <span class="login100-form-title p-b-41">
                    Account Login
                </span>
                @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "login100-form validate-form p-b-33 p-t-5", @id = "loginform", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    
                    <div>@Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })</div>
                    <div>@Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })</div>
                    
                    <div class="wrap-input100 validate-input" data-validate="Enter username">
                        @Html.TextBoxFor(m => m.Email, new { @id = "UserName", @placeholder = "Email", @type = "email", @class = "input100" })
                        <span class="focus-input100" data-placeholder="&#xe82a;"></span>
                    </div>

                    <div class="wrap-input100 validate-input" data-validate="Enter password">
                        @Html.PasswordFor(m => m.Password, new { @id = "Password", @placeholder = "Password", @class = "input100" })
                        <span class="focus-input100" data-placeholder="&#xe80f;"></span>
                    </div>

                    <div class="container-login100-form-btn m-t-32">
                        <button class="login100-form-btn" type="submit">
                            Login
                        </button>
                    </div>

                }
            </div>
        </div>
    </div>


    <div id="dropDownSelect1"></div>
</body>
</html>


<!--===============================================================================================-->
<script src="~/Content/Admin/Login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/Login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/Login/vendor/bootstrap/js/popper.js"></script>
<script src="~/Content/Admin/Login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/Login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/Login/vendor/daterangepicker/moment.min.js"></script>
<script src="~/Content/Admin/Login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/Login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="~/Content/Admin/Login/js/main.js"></script>

<script>
    function OnSubmit(token) {
        document.getElementById("loginform").submit();
    }</script>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}